* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    max-height: 100vh;
    background-color: #b9d4cd;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
    justify-content: space-between;
}

.membersList {
  display: inline-block;
  border: 1px solid black;
}

.team-elem {
  border: 1px solid black;
}


@media (min-width: 0px){
    .card-body{
        min-height: 295.73px;
    }
}